.wrapper {
  padding: 1.5rem;
}

.wrapper span {
  display: flex;
  gap: 8px;
}

.wrapper span a {
  text-decoration: none;
  color: var(--gray-300);
}

.wrapper span a:hover {
  text-decoration: none;
  color: var(--green-300);
}

@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 1rem;
  }
}
