.wrapper {
  border: 8px solid var(--gray-900);
  width: 5rem;
  height: 5rem;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2.5rem;
}

.wrapperEmpty:hover {
  cursor: pointer;
  border: 8px solid var(--gray-400);
}

.wrapperFocused {
  border: 8px solid var(--gray-400);
}

.wrapperGreen {
  border: 0;
  background: var(--green-500);
}

.wrapperGray {
  border: 0;
  background: var(--gray-900);
}

.wrapperYellow {
  border: 0;
  background: var(--yellow-400);
}
