.wrapper {
  border: 8px solid var(--gray-900);
  width: 5rem;
  height: 5rem;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2.5rem;

  -webkit-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

.wrapperEmpty:hover {
  cursor: pointer;
  border: 8px solid var(--green-300);
}

.wrapperFocused {
  border: 8px solid var(--green-300);
}

.wrapperGreen {
  border: 0;
  background: var(--green-500);
}

.wrapperGray {
  border: 0;
  background: var(--gray-900);
}

.wrapperYellow {
  border: 0;
  background: var(--yellow-400);
}

@media only screen and (max-width: 600px) {
  .wrapper {
    border: 4px solid var(--gray-900);
    width: 3rem;
    height: 3rem;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.3rem;
  }

  .wrapperEmpty:hover {
    cursor: pointer;
    border: 4px solid var(--green-300);
  }

  .wrapperFocused {
    border: 4px solid var(--green-300);
  }
}
