.wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: center;
}

.wrapper span {
  font-size: 3rem;
  font-weight: bold;
}

.wrapper button {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background: var(--green-500);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;

  transition: background-color 1s;
}

.wrapper button:hover {
  background: var(--green-300);
}
